@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

.line,
.lineHover {
	stroke: black;
	stroke-width: 10;
	cursor: pointer;
	stroke-dasharray: 90;
	stroke-dashoffset: -5;
	stroke-linecap: round;

	transition: all linear 1s;
	border-radius: 100%;
}

.lineHover {
	stroke-dasharray: 90;
	stroke-dashoffset: 95;
	stroke: red;
}

.lineGroup:hover .lineHover {
	position: relative;
	stroke: red;
	z-index: 100;
	stroke-dashoffset: -5;
}

.number {
	pointer-events: none;
}