$color-black: #000;
.box {
	$s: &;

	will-change: auto;

	&__dot {
		transition: all linear .2s;
		cursor: pointer;

		&:hover {
			fill: lime;
			filter: drop-shadow(0 0 4px rgba($color-black, .5));
		}
	}

	&__line-group {
		&:hover #{$s}__line-hover {
			position: relative;
			//stroke: red;
			z-index: 100;
			stroke-dasharray: 10;
			stroke-dashoffset: 0;
		}
	}

	&__line,
	&__line-hover {
		stroke-width: 10;
		//cursor: pointer;
		stroke-dasharray: 90;
		stroke-dashoffset: -5;

		transition: all linear .5s;
		border-radius: 100%;
	}

	&__line-hover {
		stroke-dasharray: 100;
		stroke-dashoffset: 100;
		//stroke: red;
	}

	&__tale {

	}

	&__number {
		pointer-events: none;
	}

	&__mouseline {
		pointer-events: none;
		filter: drop-shadow(0 0 4px rgba($color-black, .5));
	}
}

